@import 'vendor/reset';

html, 
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    width: 4em;
    height: 4em;
    
    &::after {
        content: "";
        background-color: #fff;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        position: absolute;
        top: .5em;
        left: .5em;
    }
}

.dial-container {
    position: absolute;
    width: 2em;
    overflow: hidden;
}

.wedge {
    height: 4em;
    width: 2em;
    background-color: #444;
}

.container1 {
    left: 2em;
    
    .wedge {
        transform-origin: 0% 50%;
        border-radius: 0 4em 4em 0;
        left: 0;
        animation: 4s rotate-1 linear infinite;
    }
}

.container2 {
    left: 0;
    
    .wedge {
        border-radius: 4em 0 0 4em;
        transform-origin: 2em 2em;
        animation: 4s rotate-2 linear infinite;
    }
}

.marker {
    background-color: #444;
    border-radius: 50%;
    height: .5em;
    width: .5em;
    position: absolute;
    top: 0;
    left: calc(50% - 0.25em);
}

.end {
    animation: rotate-marker 4s infinite linear;
    transform-origin: 50% 2em;
}

@keyframes rotate-1 {
    50%, 100% { transform: rotateZ(180deg); }
}

@keyframes rotate-2 {
    0%, 50% { transform: rotateZ(0) }
    100% { transform: rotateZ(180deg) }
}

@keyframes rotate-marker {
    100% { transform: rotateZ(360deg) }
}